body {
  margin: 0;
  padding: 0;
  width: auto;
}

.App {
  text-align: center;
}

.navBar {
  /* background-image: url(/purplesky.png); */
  font-family: "Cuprum", sans-serif;
  font-size: 1em;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.navBar div {
  display: inline;
}

.navBar a {
  font-family: "Sahitya", serif;
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navBar a:hover,
.navBar a.active {
  background-color: #ddd;
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #737495;
  text-align: center;
  font-family: "Cuprum", sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 5px 10px;
}

.footer div {
  display: inline;
}

.footer a {
  color: black;
  padding-left: 20px;
  font-family: "Cuprum", sans-serif;
  text-decoration: none;
}

.homepageTitle {
  text-align: center;
  font-size: 2em;
  font-family: "Sahitya", serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.zodiacContainer {
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.zodiacContainer a:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.zodiacContainer a {
  font-family: "Sahitya", serif;
  font-size: 1.2em;
  color: black;
  font-size: bold;
  text-decoration: none;
}

.horoscopeHeader {
  font-family: "Sahitya", serif;
  background-color: #737495;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 30px;
  font-size: 2.5em;
  color: white;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.horoscopeHeader div {
  margin-left: 10%;
}

.horoscopePage {
  margin-left: 10%;
  padding: 20px;
  font-family: "Sahitya", serif;
  font-size: 1.5em;
}

.horoscopeDescription {
  width: 50%;
  border-top: 1px dotted grey;
}

@media (min-width: 600px) {
}

@media (min-width: 800px) {
}
