body {
  margin: 0;
  padding: 0;
  width: auto;
}

.App {
  text-align: center;
}

.navBar {
  /* background-image: url(/purplesky.png); */
  font-family: "Cuprum", sans-serif;
  font-size: 1em;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.navBar div {
  display: inline;
}

.navBar a {
  font-family: "Sahitya", serif;
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navBar a:hover,
.navBar a.active {
  background-color: #ddd;
  color: black;
}

.homepageTitle {
  text-align: center;
  font-size: 2em;
  font-family: "Sahitya", serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.zodiacContainer {
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.zodiacContainer a:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.zodiacContainer a {
  font-family: "Sahitya", serif;
  font-size: 1.2em;
  color: black;
  font-size: bold;
  text-decoration: none;
}

.horoDate {
  font-family: "Sahitya", serif;
  font-size: 1.5em;
  color: pink;
}

.horoscopeHeader {
  background-color: #737495;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 30px;
  display: flex;
}

.horoTitle {
  margin-left: 10%;
  font-family: "Sahitya", serif;
  text-transform: capitalize;
  font-size: 3em;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 12px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.horoscopePage {
  margin-left: 10%;
  padding: 20px;
  font-family: "Sahitya", serif;
  font-size: 1.5em;
}

.horoscopeDescription {
  width: 50%;
  border-top: 1px dotted grey;
}

.horoscopeContainers {
  display: flex;
  flex-direction: row;
}

.horoscopeItems {
  border: #8cd6ae solid 1px;
  border-radius: 5%;
  background-color: #91c5a9;
  margin-right: 1%;
  padding: 0.5%;
}

@media (min-width: 600px) {
}

@media (min-width: 800px) {
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #737495;
  text-align: center;
  font-family: "Cuprum", sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer div {
  display: inline;
}

.footer a {
  color: black;
  padding-left: 20px;
  font-family: "Cuprum", sans-serif;
  text-decoration: none;
}
